#container{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
#landing-title{
    margin-bottom: 35px;
    font-size: 40px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.input{
margin: 3px 0;
padding: 10px;
border-radius: 3px;
border: 1px solid rgb(233, 224, 224);
background-color: rgb(249, 252, 254);
}
#button{
    margin: 8px 0;
    font-weight: bold;
    color: white;
    background-color: rgb(97, 176, 245);
    border-radius: 10px;
    padding: 10px;
    border: 0;
    width: 100%;

}